*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.bg_cus{
    background-color: #1D3557 !important;
}
.border-1{
    border-style: solid;
}
.btn_cus{
    min-width: 250px ;
    background-color: #E63946;
    border:none;
    color: white;
    padding: 10px;
    margin: 2px;
}
.btn_cus:hover{
    background-color: #c92f3c;
}
.min_height{
    height: 90%;
}
.center_this{
    min-height: calc(100vh - 112px);
}